SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/gamekube?currentSchema=gamekube
SPRING_DATASOURCE_USERNAME=gamekube
SPRING_DATASOURCE_PASSWORD=gamekube
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis
KEYCLOAK_SERVER_URL=https://keycloak.gamekube.localhost
KEYCLOAK_REALM=gamekube
KEYCLOAK_CLIENT_ID=backend-client
KEYCLOAK_CLIENT_SECRET=**********
GAME_KEYCLOAK_SERVER_URL=https://keycloak.gamekube.localhost
GAME_KEYCLOAK_COOKIE_SECRET=Hb4cxagQat4fKaCc4q0FzxWIlSHnOyRY7KpFQ3fNhTM
GAME_KEYCLOAK_CLIENT_ID=game-client
GAME_KEYCLOAK_CLIENT_SECRET=**********
