SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/gamekube?currentSchema=gamekube
SPRING_DATASOURCE_USERNAME=gamekube
SPRING_DATASOURCE_PASSWORD=gamekube
KEYCLOAK_SERVER_URL=http://localhost:8080
KEYCLOAK_REALM=gamekube
KEYCLOAK_CLIENT_ID=backend-client
KEYCLOAK_CLIENT_SECRET=**********
